<%- contentFor('styles') %>
<%- contentFor('scripts') %>
  <script>
    const paramValue = window.location.pathname.split('/').reverse()[1]
    let arr

    const generateTitle = () => {
      return `
       <h3 class="text-center pt-5">Flashcards</h3>
      `
    }

    const generateFilter = (query = {}) => {
      return arr.length > 1 ? `
        <div id="select-container" class="my-4 d-flex justify-content-center">
          <select id="flashcards-sort-select" class="form-select" style="width: 250px">
            <option
              ${query === "sort-date-asc" && "selected"}
              value="sort-date-asc">
                Date created: ascending
            </option>
            <option
              ${query === "sort-date-desc" && "selected"}
              value="sort-date-desc">
                Date created: descending
            </option>
            <option
            id="sort-most-rith"
              ${query === "sort-most-right" && "selected"}
              value="sort-most-right">
                Most Right Answers
            </option>
            <option
              ${query === "sort-most-wrong" && "selected"}
              value="sort-most-wrong">
                Most Wrong Answers
            </option>
          </select>
        </div>
      ` : '<div></div>'
    }

    const generateFlashcards = (flashcards = {}) => {
      return `
    <div class="container d-flex justify-content-center row">


      <div class="accordion w-75" id="accordionPanelsStayOpenExample">
        ${flashcards.map(element => {
          const {
            id,
            question,
            answer,
            right,
            wrong,
            dateCreated,
            dateUpdated
          } = element

          return `
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne-${id}">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne-${id}"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseOne-${id}">
                    ${question}
                </button>
              </h2>
              <div
                id="panelsStayOpen-collapseOne-${id}"
                class="accordion-collapse collapse m-3"
                aria-labelledby="panelsStayOpen-headingOne-${id}">
                <div class="accordion-body p-0">
                  <table class="table table-borderless">
                    <tr>
                      <td class="w-100 card-body">
                        <h6>
                          ${answer}
                        </h6>
                        <div>
                          Right Answers: ${right}
                        </div>
                        <div>
                          Wrong Answers: ${wrong}
                        </div>
                        <div>
                          Date created: ${moment(dateCreated).format("Do MMMM YYYY, dddd, hh:mm A")}
                        </div>
                        <div>
                          Date edited: ${dateUpdated === null ? ' - ' : moment(dateUpdated).format("Do MMMM YYYY, dddd, hh:mm A")}
                        </div>
                      </td>
                      <td>
                        <a href="/my/collections/${paramValue}/flashcards/${id}/" class="btn btn-outline-primary" role="button">
                          Edit
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>`
          }).join('')}
      </div>
      <div class="row justify-content-center pt-5">
        <a class="btn btn-primary" href="/my/collections/${paramValue}/show" role="button" style="width: 188px">Add Flashcard</a>
      </div>
    </div>
  `
    }


    const getFlashcardsData = () => {
      axios({
        method: 'GET',
        url: `/api/collections/${paramValue}/flashcards`
      }).then(res => {
        arr = res.data
        generatePage(res.data)
      })
    }

    const generatePage = (data, query) => {
      const $page = $('#pages-flashcards-show')
      const $flashcards = generateFlashcards(data)
      const $select = generateFilter(query)
      const $title = generateTitle()
      $page.html('').append($title).append($select).append($flashcards)
    }

    const sortFlashcards = e => {
      e.preventDefault()
      const selected = e.target.value

      if (selected === 'sort-date-asc') {
        arr.sort((a, b) => a.id - b.id)
        generatePage(arr, selected)
      } else if (selected === 'sort-date-desc') {
        arr.sort((a, b) => b.id - a.id)
        generatePage(arr, selected)
      } else if (selected === 'sort-most-right') {
        arr.sort((a, b) => b.right - a.right)
        generatePage(arr, selected)
      } else if (selected === 'sort-most-wrong') {
        arr.sort((a, b) => b.wrong - a.wrong)
        generatePage(arr, selected)
      }
    }

    $(document).ready(() => {
      getFlashcardsData()
      $('#pages-flashcards-show').on('change', '#flashcards-sort-select', sortFlashcards)
    })
  </script>
<%- contentFor('body') %>
<div id="pages-flashcards-show" class="container"></div>
