<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  const generateForm = ({ user, errors } = {}) => {
    return `
        <div class="container w-75 pt-5">
          <h3 class="text-center">
            Edit Collection
          </h3>
          <form id="edit-collection-form">
            <label
              for="name-collection"
              class="form-label m-0 pt-3"
              >
                Collection Name
              </label>
            <input
              type="text"
              id="name-collection"
              class="form-control"
              name="title"
              aria-describedby="inputGroup-sizing-default"
            >

            <label
              for="name-collection"
              class="form-label m-0 pt-3"
              >
                Description
              </label>
            <textarea
              class="form-control"
              id="name-collection"
              name="description"
              rows="2"></textarea>
            <div class="row justify-content-center">
              <button id="submit" class="btn btn-primary m-2" type="submit" style='width: 150px'>Submit</button>
              </div>
          </form>
          <div class="d-flex row justify-content-center">
            <button
              id="delete"
              class="btn btn-danger m-2"
              style='width: 150px'
              data-bs-toggle="modal"
              data-bs-target="#deleteCollectionModal">
                Delete Collection
            </button>
          </div>
          <!-- Modal -->
            <div class="modal fade" id="deleteCollectionModal" tabindex="-1" aria-labelledby="deleteCollectionModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteCollectionModalLabel">🚨 Delete Collection 🚨</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    WARNING! By Clicking 'Delete Collection', your collection will be permanently deleted.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="delete-button" type="button" class="btn btn-danger">Delete Collection</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      `
    }

    const deleteCollectionBtn = e => {
      e.preventDefault()
      const paramValue = window.location.pathname.split('/').reverse()[1]

      axios({
        method: 'DELETE',
        url: '/api/my/collections/' + paramValue,
      }).then(() => {
        window.location = '/my/collections'
      })
    }

    const submitEdit = e => {
      e.preventDefault();
      const data = new FormData(e.target)
      const paramValue = window.location.pathname.split('/').reverse()[1]

      axios({
        method: 'PUT',
        url: '/api/my/collections/' + paramValue,
        data
      }).then(() => {
        window.location = '/my/collections'
      }).catch(err => {
        console.log(err)
      })
    }

    const generatePage = info => {
      const $page = $('#pages-collections-edit')
      const $editCollections = generateForm(info)
      $page.html('').append($editCollections)
    }

    $(document).ready(async () => {
      await generatePage()
      await $('#pages-collections-edit').on('submit', '#edit-collection-form', submitEdit)
      await $('#pages-collections-edit').on('click', '#delete-button', deleteCollectionBtn)
    })
</script>
<%- contentFor('body') %>
<div id="pages-collections-edit" class="container"></div>
