<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  const generateForm = ({ user, errors } = {}) => {
    return `
        <div class="container w-75 pt-5">
          <h3 class="text-center">
            Edit Collection
          </h3>
          <form id="edit-collection-form">
            <label
              for="name-collection"
              class="form-label m-0 pt-3"
              >
                Collection Name
              </label>
            <input
              type="text"
              id="name-collection"
              class="form-control"
              name="title"
              aria-describedby="inputGroup-sizing-default"
            >

            <label
              for="name-collection"
              class="form-label m-0 pt-3"
              >
                Description
              </label>
            <textarea
              class="form-control" id="name-collection"
              name="description"
              rows="2"></textarea>
            <div class="row justify-content-center">

              <button id="submit" class="btn btn-primary m-2" type="submit" style='width: 100px'>Submit</button>
            </div>
          </form>
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        </div>
      `
    }


    const submitEdit = e => {
      e.preventDefault();
      const data = new FormData(e.target)
      const paramValue = window.location.pathname.split('/').reverse()[1];

      axios({
        method: 'PUT',
        url: '/api/my/collections/'+paramValue,
        data
      }).then(() => {
        window.location = '/my/collections'
      }).catch(err => {
        console.log(err)
      })
    }

    const generatePage = info => {
      const $page = $('#pages-collections-edit')
      const $editCollections = generateForm(info)
      $page.html('').append($editCollections)
    }

    $(document).ready(() => {
      generatePage()
      $('#pages-collections-edit').on('submit', '#edit-collection-form', submitEdit)
    })
</script>
<%- contentFor('body') %>
<div id="pages-collections-edit" class="container"></div>
