<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  const paramValue = window.location.href.split('/').reverse()[1]
  let cards = []
  let collectionTitle
  let flashcardId
  let correctAnswer
  let iterator = 0

  const sattoloShuffle = arr => {
    for (let i = arr.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * i)
      const temp = arr[i]

      arr[i] = arr[j]
      arr[j] = temp
    }
    cards = arr
    return arr
  }

  const generatePlayPage = flashcard => {
    flashcardId = flashcard.id
    correctAnswer = flashcard.answer
    console.log(correctAnswer)

    return `
      <div id="flashcard">
        <div class="d-flex justify-content-center mt-5">
          <div id='card-border' class="card border-secondary" style="width: 400px">
            <div class="card-header text-center style="font-size: 13px">${collectionTitle}</div>
            <div class="card-body text-dark">
              <h5 class="card-title pb-5 text-center">${flashcard.question}</h5>
              <div id="answer-status" ></div>
              <div id="correct-answer"></div>
            </div>
            <form class="px-3" id="play-flashcard-form">
              <input id="input-answer" placeholder="answer input" name="answer" type="text" class="form-control" autocomplete="off">
              <div class="d-flex justify-content-between my-3" id="submit-form">
                <button id="skip-answer-button" type="button" class="btn btn-outline-primary" style="width: 88px">Skip</button>
                <button id='submit-answer-button' class="btn btn-primary" type="submit" style="width: 88px">Submit</button>
              </div>
            </form>
          <div>
        </div>
      </div>
    `
  }

  const generatePage = info => {
    const $page = $('#pages-collections-play')
    const $play = generatePlayPage(info)
    $page.html('').append($play)
  }

  const getCollectionName = () => {
    axios({
      method: 'GET',
      url: '/api/my/collections'
    }).then(res => {
      const findCollection = res.data.filter(element=>element.id === parseInt(paramValue))
      collectionTitle = findCollection[0].title
    })
  }


  const getFlashcards = () => {
    axios({
      method: 'GET',
      url: `/api/collections/${paramValue}/flashcards`
    }).then(res => {
      sattoloShuffle(res.data)
      generatePage(cards[iterator])
    })
  }


  const postToApi = (card, state) => {
    const data={
      value: state
    }
    axios({
      method: 'POST',
      url: `/api/my/play/${card}`,
      data
    })
  }

  const generateNewFlashcard = () => {
    iterator++

    if (iterator + 1 > cards.length) {
      iterator = 0;
      sattoloShuffle(cards)
      generatePage(cards[iterator])
    } else {
      generatePage(cards[iterator])
    }
  }

  const handleSubmit = state => {
    postToApi(flashcardId, state ? 'right' : 'wrong')

    const $correctAnswer = $('#correct-answer')
    const currentState = state ? 'success' : 'danger'

    !state && $correctAnswer.text(`Correct answer is ${correctAnswer}`).attr('class', 'text-center')

    $('h5').attr('class', 'card-title text-center')
    $('#card-border').attr('class', `card border-${currentState}`)
    $('#answer-status').text(state ? "Correct" : "Wrong Answer!").attr('class', `text-center ${state ? 'm-3' : 'm-0'} text-${currentState}`).css("font-size", "15px")
    $('#skip-answer-button').attr('class', 'btn btn-outline-primary disabled')
    $('#submit-answer-button').attr('class', `btn btn-${currentState} disabled`)

    setTimeout(() => {
      generateNewFlashcard()
    }, 1000)
  }

  const submitAnswer = e => {
    e.preventDefault()
    const userInput = $('#input-answer').val().trim().toLowerCase()
    const answer = cards[iterator].answer.toLowerCase()

    if(userInput === answer) {
      handleSubmit(true)
    } else {
      handleSubmit(false)
    }
  }

  const submitSkip = () => {
    return generateNewFlashcard()
  }

  $(document).ready(() => {
    getCollectionName()
    getFlashcards()
    $('#pages-collections-play').on('click', '#submit-answer-button', submitAnswer)
    $('#pages-collections-play').on('click', '#skip-answer-button', submitSkip)

  })
</script>
<%- contentFor('body') %>
<div id="pages-collections-play" class="container"></div>
