<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  const generateCollections = (collection = {}) => {
    return `
      <div>
        <h3 class="text-center pt-5">Collections</h3>
        <div class="mt-5 d-flex ">
          ${collection.map(element => {
            return `
            <span class="card text-center m-2" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">${element.title}</h5>
                <p class="card-text">${element.description || ''}</p>
                <div>
                  <a href="/my/collection/${element.id}/play" class="card-link">Play</a>
                  <a href="/my/collections/${element.id}/flashcards" class="card-link">Flashcards</a>
                  <a href="/my/collections/${element.id}/edit" class="card-link">Edit</a>
                </div>
              </div>
            </span>
            `
          })}
        </div>
        <div class="row justify-content-center pt-5">
          <a class="btn btn-primary" href="/my/collections/new" role="button" style="width: 188px">Add Collection</a>
        </div>
      </div>
    `
  }


  const getCollectionData = () => {
    axios({
      method: 'GET',
      url: '/api/my/collections'
    }).then(res => {
      generatePage(res.data)
    }).catch(err => {
      console.log(err)
    })
  }

  const generatePage = info => {
    const $page = $('#pages-collection-show')
    const $collection = generateCollections(info)
    $page.html('').append($collection)
  }

  $(document).ready(() => {
    getCollectionData()
  })
</script>
<%- contentFor('body') %>
<div id="pages-collection-show" class="container"></div>
