<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateProfile = ({user} = {}) => {
  const {
    name,
    avatar,
    email,
    totalCollections,
    totalFlashcards
  } = user

  return `
    <div class="container d-flex justify-content-center row">
      <h3 class="text-center pt-5">${name}</h3>
      <div class="w-75">
        <div class="d-flex justify-content-center m-2">
        <div
          style="
            background: url(${avatar}) 50% 50% no-repeat;
            border-radius: 50%;
            background-size: cover;
            width: 200px;
            height: 200px;
          ">
          </div>
        </div>
        <table class="table-responsive table-borderless d-flex justify-content-center">
          <tbody>
            <tr>
              <td>Email: </td>
              <td> </td>
              <td> </td>
              <td>${email}</td>
            </tr>
            <tr>
              <td>Total Collections: </td>
              <td> </td>
              <td> </td>
              <td>${totalCollections}</td>
            </tr>
            <tr>
              <td>Total Flashcards: </td>
              <td> </td>
              <td> </td>
              <td>${totalFlashcards}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-center pt-5">
        <a class="btn btn-primary" href="/my/profile/update" role="button" style="width: 88px">Edit</a>
      </div>
    </div>
      `
}

const getUserData = () => {
  axios({
    method: 'GET',
    url: '/api/my/profile'
  }).then(res => {
    generatePage({ user: res.data })
  }).catch(err => {
    console.log(err)
  })
}

const generatePage = info => {
  const $page = $('#pages-my-profile')
  const $profile = generateProfile(info)
  $page.html('').append($profile)
}

$(document).ready(() => {
  getUserData()

})
</script>
<%- contentFor('body') %>
<div id="pages-my-profile" class="container"></div>
